<div>
	<h3>
		Formulario de consulta
	</h3>
	
	<table class="table">
		<tr>
			<td>Propiedad</td>
			<td>Balcarce 911</td>
		</tr>
		<tr>
			<td>Nombre</td>
			<td><input type="text" class="form-control"></td>
		</tr>
		<tr>
			<td>Teléfono</td>
			<td><input type="text" class="form-control"></td>
		</tr>
		<tr>
			<td>E-Mail</td>
			<td><input type="text" class="form-control"></td>
		</tr>
		<tr>
			<td>Consulta</td>
			<td><input type="text" class="form-control"></td>
		</tr>
		<tr>
			<td colspan="2">
				<button class="btn btn-primary izquierda">Enviar</button>
				<button class="btn btn-default derecha" ng-click="cerrarConsulta()">Cerrar</button>
			</td>
		</tr>
	</table>
</div>